*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body{
    height: 100vh;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(59, 84, 130);
    font: normal 15px Arial;
}

section{
    display: inline-block;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.514);
}

section div{
    color: rgb(0, 0, 0);
}